*.pyc
*.idea
*.db
*.db-*
*.sass-cache
*.orig
*.json
config/*
!config/config.ini.example
geofences/*
!geofences/*.example
static/dist/
node_modules/
venv/
core
src/
_build
_build_html
beehive.*
static/images/battle/*.png
static/sprites/*.png
static/images/appicons/*.png
static/images/appicons/*.ico
static/images/egg/*.png
static/images/gym/*.png
static/images/pokestop/*.png
static/images/raid/*.png
static/icons-sprite.png
static/icons-large-sprite.png
static/icons-shuffle-sprite128x.png
static/icons/*.png
static/css/custom.css
static/js/custom.js
*.csv
*.ini
*.bat
*.sh
*.log
*.txt
*.old
!docs/make.bat
!Tools/Easy-Setup/easy-setup.sh
!Tools/Easy-Setup/setup.bat
!contrib/supervisord/gen-workers.sh
!contrib/supervisord/install-reinstall.sh
!static/data/*
!static/icons/hsl*.png
!static/app/settings.json

