.pokestop {
  text-align: center;

  &.text1 {
    font-size: 14px;
    text-align: center;
    font-weight: 900;
  }

  &.text2 {
    font-size: 9px;
    text-align: center;
    font-weight: 900;
  }

  &.deploy {
    font-size: 10px;
    font-weight: 900;
  }

  &.lure {
    font-size: 14px;
    text-align: center;
    font-weight: 900;
    color: rgb(249,53,133);
  }

  &.nolure {
    font-size: 14px;
    text-align: center;
    font-weight: 900;
    color: rgb(54,198,255);
  }

  &.imgcircle {
    width: 64px;
    height: 64px;
    background-size: cover;
    display: block;
    border-radius: 50px;
    margin: auto;

    &.lure {
      border: 5px solid rgba(249,53,133,1);
    }

    &.nolure {
      border: 5px solid rgba(54,198,255,1);
    }
  }

  &.stopicn {
    @media screen and (max-width: 320px) {
      height: 9px !important;
      width: 9px !important;
    }
    height: 10px;
    width: 10px;
    margin-right: -1px;
  }

  &.navigate {
    font-size: 9px;
    font-weight: 900;

    &.navigate:before {
      content: '\f018';
      display: inline-block;
      font-family: FontAwesome;
      margin: 5px 3px 0px 0px;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.pokestop-expire {
  color: rgb(249,53,133);
  font-size: 14px;
  font-weight: 900;
  text-align: center;

  &:before {
    color: rgb(93,109,126);
    content: '\f017';
    display: inline-block;
    font-family: FontAwesome;
    height: 16px;
    width: 16px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
}

a.pokestop:link {
  font-size: 11px;
  font-weight: 500;

  &.lure {
    color: rgb(249,53,133);
  }

  &.nolure {
    color: rgb(54,198,255);
  }
}

.pokestop.sprite {
  display: block;
  height: 32px;
  width: 32px;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: drop-shadow(grey 3px 3px .2em);
}
